form.word-form {
  display: flex;
  flex-direction: column;

  .form-section {
    margin: 8px 0;
    padding: 8px 0;
    border-bottom: 1px solid black;

    label {
      display: flex;
      flex-direction: column;
      margin: 8px 0;
      > input {
        max-width: 100px;
      }
    }
  }
}
