form.word-form {
  display: flex;
  flex-direction: column;

  .textContent {
    display: flex;
    flex-direction: column;
    margin: 8px 0;

    > input {
      flex: 1 1 auto;
    }
  }
}

table.analysis-report-table {
  max-width: 300px;
  width: 100%;
  border-collapse: collapse;

  > th,
  tr {
    width: 50%;
    border: 1px solid black;
    text-align: left;
    padding: 8px;

    &:nth-child(even) {
      background-color: #dddddd;
    }
  }

  td {
    border: 1px solid black;
  }
}
