<a routerLink="">Back</a>

<form class="word-form" [formGroup]="textForm" (ngSubmit)="onFormSubmit()">
  <h1>Word Form</h1>
  <h1>{{ textForm.valid | json }}</h1>
  <label class="textContent">
    First Name: *
    <input type="text" formControlName="textContent" />
    <span *ngIf="hasError(textContent)">Dit veld is verplicht.</span>
  </label>
  <button type="button" (click)="generateSentence()">
    Generate random sentence
  </button>
  <br />
  <br />
  <button type="submit" [disabled]="!textForm.valid">Send</button>
</form>

<hr />
<h1>Analysis Report</h1>

<table class="analysis-report-table">
  <th>Word</th>
  <th>Frequency</th>
  <tr *ngFor="let item of analysisReport">
    <td>{{ item.getWord() }}</td>
    <td>{{ item.getFrequency() }}</td>
  </tr>
</table>

<hr />
