@mixin mobile {
  @media (max-width: #{680px}) {
    @content;
  }
}

* {
  font-family: arial, sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
  color: black;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

h1 {
  font-weight: bold;
  font-size: 32px;
  line-height: 1.5;
  margin: 8px 0;
}

p {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

header {
  background-color: darkgray;
}

main.content {
  padding: 32px 0;
  background-color: silver;
  flex: 1 0 auto;
  overflow: hidden;

  > .content-container {
    margin: 0 auto;
    max-width: 900px;
    background-color: white;
    padding: 16px;
    box-shadow: 0 2px 2px 0;
    box-sizing: border-box;
    border-radius: 4px;
  }
}

.footer {
  margin: 0;
  background-color: darkgray;
  .copyright {
    text-align: center;
    line-height: 32px;
  }
}

button {
  font-size: 16px;
  padding: 8px 16px;
  border: 1p solid black;
  background-color: lightskyblue;

  &:hover {
    background-color: lighten(lightskyblue, 10);
  }
}
