@mixin mobile {
  @media (max-width: #{680px}) {
    @content;
  }
}

* {
  font-family: arial, sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
  color: black;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

h1 {
  font-weight: bold;
  font-size: 32px;
  line-height: 1.5;
  margin: 8px 0;
}

p {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

header {
  background-color: darkgray;
}

main.content {
  background-color: silver;
  flex: 1 0 auto;
  overflow: hidden;

  > .content-container {
    max-width: 1200px;
    // background-color: white;
    padding: 16px;
    // box-shadow: 1px black;
  }
}

.footer {
  margin: 0;
  background-color: darkgray;
  .copyright {
    text-align: center;
  }
}
